.change_pics,
.check_box,
.tableOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.kuromiPics {
  width: 50%;
  height: 400px;
}

/* append button */
#appendButton {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  margin-bottom: 5px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.box1 {
  width: 500px;
  aspect-ratio: 1/1;
  background-color: aquamarine;
}
.box2 {
  width: 300px;
  aspect-ratio: 1/1;
  background-color: rgb(153, 127, 255);
}
.box3 {
  width: 100px;
  aspect-ratio: 1/1;
  background-color: rgb(255, 127, 229);
}